/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Playfair+Display:400,700,900);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; color: white}

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

.container { max-width: 860px; margin: 0 auto; padding: 0 20px; }

.section-title { text-transform: uppercase; letter-spacing: 4px; margin-bottom: 40px; text-align: center; position: relative; margin-top: 20px}
.section-title:after { content: ''; position: absolute; bottom: -5px; left: 50%; margin-left: -25px; width: 50px; height: 1px; background: #fff; }

body { font-family: "Lora", Helvetica, Arial, sans-serif, serif; font-size: 16px; line-height: 1.4; background-color: #181712 }

header { border-bottom: 1px solid #b0aba0; padding: 40px 0; margin-bottom: 4px; }
@media (min-width: 640px) { header { padding: 200px 0 60px; margin-bottom: 60px; } }

.intro { margin-bottom: 30px; }
.intro__pre, .intro__post { text-transform: uppercase; letter-spacing: 4px; color:#fff }
.intro__main { font-size: 1.8rem; line-height: 1.2; font-weight: bold; margin: 10px 0 20px;}
@media (min-width: 640px) { .intro__main { font-size: 2.2rem; max-width: 60%; } }

.social a { color: #181712; border-radius: 6px; padding: 1px; margin: 2px}

.footer { padding: 40px 20px; text-align: center; border-top: 1px solid #edefee; }
.footer__title { font-size: 1.2rem; font-weight: bold; }
.footer__subtitle { text-transform: capitalize; }

dl { margin-bottom: 20px; }

dt, dd { display: inline-block; vertical-align: top; margin-bottom: 20px; }

@media (min-width: 640px) { dt, dd { margin-bottom: 60px; }
  .experience dt { width: 30%; padding-right: 40px; }
  .experience dd { width: 70%; }
  .education dt, .education dd { width: 50%; } }
.title { margin: 0; font-weight: bold; font-size: 1.2rem; }

a { color: black !important; background:#fff; transition: all linear .2s; }
a:hover { background: #ababab; text-decoration: none; }
