
html, body {
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    height: 100%;

}


.title {
    background-image: url(http://akshitkumar.me/nice.jpg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    line-height: 50px;
    
    
   
}

.title h1{
    padding-bottom: 50px;
    font-size: 8vh;
    text-align: center;
    color: white;
    
    
}

.title h1 span {
    font-size: 5vh;
    
}

.title h1 .stuff {
    -webkit-transition: .35s ease-in-out;
  transition:.35s ease-in-out;
  color: rgb(218, 198, 198);
  text-decoration: none;
}
.title h1 .stuff:hover{
    -webkit-transition:1s ease-in-out;
  transition:1s ease-in-out;
  color:white;
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, black 50%);
}
