body {
    margin: 0;
    background-color: #222426;
    overflow: hidden;
}
vantajs{
    z-index: -10;
}
.text{
    font-size: 5vmax;
    color: white;
    padding: 14vmax;
    overflow: hidden;
    z-index: 15;
    font-family: 'IBM Plex Sans' ,sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;

}
.glow-button{
    transition: 0.3s ease-in-out;
    padding-top: 1vmax;
}




.glow-button:hover {
    filter: invert(70%);
    filter: blur(1px);

}
